* {
    box-sizing: border-box;
}
body {
    padding: 0px;
    margin: 0px;
    
    background: white;
}
header {
    background: rgb(109, 120, 151);
    height: 66px;
}
header * {
    color: black;
}

header .logo {
    float: left;
    height: inherit;
    margin-left: 2em;
}
header .logo-text {
    margin: 8px;
}
header .logo-text span {
    color: rgb(196, 181, 233);
}
header ul {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
header ul li {
    float: left;
}
header ul li a {
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}
header ul li a:hover {
    background: green;
    transition: 0.5s;
}
header .menu-toggle {
    display: none;
}


